/NetBeans-Projects/CafeOtomasyonu/build/
/NetBeans-Projects/CafeOtomasyonu/nbproject/private/
/NetBeans-Projects/JavaDbCalisma/nbproject/private/
/NetBeans-Projects/NYPfinal/build/
/NetBeans-Projects/NYPfinal/nbproject/private/
/NetBeans-Projects/OgrenciOtomasyonu/build/
/NetBeans-Projects/OgrenciOtomasyonu/nbproject/private/
/NetBeans-Projects/Robots/build/
/NetBeans-Projects/Robots/nbproject/private/
/NetBeans-Projects/YilanOyunuKalibi/build/
/NetBeans-Projects/YilanOyunuKalibi/nbproject/private/